html
{
     height: 100%;
}

/* 標籤名稱選擇器 */

/* backgrond-color: rgb(1, 13, 243); */

.head
{
     background-color: rgb(157, 157, 252);
     color: rgb(1, 11, 19);
     font-weight: bold;
     font-size: 25px;
     text-align: center;  /* 將字設為中間 */
     padding: 0%;


}

@media screen and (max-width:400px) { 
     #header{
          background-color:#92c0f5;
          height:80px;
          text-align:center;
          line-height:80px;
          width: 70%;
          }
     #sidebar_left{
               background-color:#e0dcd3;
               width:10px;
               height:10px;
               text-align: middle;
               line-height:10px;
               float:left;
               /* font-size: small; */
               width: 10%;
               }
     #content{
                    margin-left:20px;
                    margin-right:20px;
                    height:200px;
                    background-color:#e3cef7;
                    text-align: center;
                    line-height:40px;
                    width: 70%;
                    
                    
                    
                    /* line-heigh是行高的意思 */
                    }
     #footer{
                         clear:both;
                         background-color:#FFD4D4;
                         height:50px;
                         text-align:center;
                         line-height:30px;
                         width: 70%;
                         }
     
   }

.h3{
     text-align: center;
}

h1:hover /* 滑鼠移過去的話 */
{
     background-color: #0e4686;
     color: rgb(253, 253, 253);
}


#sitebody
{
     width:600px;
     margin:0 auto;
     font-size:13px;
}
#header{
background-color:#92c0f5;
height:80px;
text-align:center;
line-height:80px;
}

#header:hover{
     background-color:#4196f7;
     color:rgb(234, 234, 245)
   }

#sidebar_left{
background-color:#e0dcd3;
width:150px;
height:400px;
text-align: middle;
line-height:40px;
float:left;
/* font-size: small; */
padding-top: 0px;
}
/* #sidebar_right{
background-color:#FFECC9;
width:120px;
height:400px;
text-align:center;
line-height:400px;
float:right;
} */
#content{
margin-left:20px;
margin-right:20px;
height:400px;
background-color:#e3cef7;
text-align: center;
line-height:40px;



/* line-heigh是行高的意思 */
}
h3:hover{
     background-color:#000000;
     color:rgb(252, 252, 255)    
}


#footer{
clear:both;
background-color:#FFD4D4;
height:150px;
text-align:center;
line-height:35px;
}

/* input {
     background-color: #eca509; 
     border: #501b1b;
     color: white;
     padding: 5px 3px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 15px;
   } */

   input{border:0;
     background-color:#f8b0b0;
     color:#fff;
     border-radius:10px;
     border:2px #FFD4D4 solid;
     cursor:pointer;
}

   
   input:hover{
     color:#FFD4D4;
     background-color:#fff;
     border:2px #FFD4D4 solid;
   }



